<ion-header>
  <img class="logo" src="/assets/fundologo.png" alt=""/>   
</ion-header>
  
  <ion-content>
    <img src="{{imagem}}" width="100%">
      <ion-item>
          <input type="file" (change)="enviaArquivo($event)"/>
        </ion-item>

  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-label floating>Nome Completo</ion-label>
        <ion-input formControlName="nomeCompleto" value="{{perfil.nomeCompleto}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Senha</ion-label>
        <ion-input formControlName="senha" value="{{perfil.senha}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControlName="email" value="{{perfil.email}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Data de Nascimento</ion-label>
        <ion-input formControlName="dataNascimento" value="{{perfil.dataNascimento}}" type="text">
          </ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Telefone</ion-label>
          <ion-input formControlName="telefone"  value="{{perfil.telefone}}" type="text">
             </ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Cpf</ion-label>
          <ion-input formControlName="cpf"  value="{{perfil.cpf}}" type="text">
            </ion-input>
      </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="atualizar()">Atualizar</ion-button>
  
  </form>
  </ion-content>