ion-content {
    --background: #fff url("../../assets/heróis1.jpg") no-repeat center center / cover;
    text-align: center;
    
}
div{
    padding-top: 200px;
}
ion-title{
    text-align: center;
}
ion-title{
    text-align: center;
  }