<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
        <img class="logo" src="/assets/fundologo.png" alt=""/>  
    </ion-toolbar>
  </ion-header>
<ion-content>
<ion-card>
  <ion-col>
    <div class="image-upload">
      <label for="file-input">
  <div class="user-photo">
      <ion-avatar>
        <img src="{{imagem}}">
      </ion-avatar>
    </div>
    <div class="photo"><ion-icon name="camera"></ion-icon></div>
    </label>
      <input id="file-input" type="file" (change)="enviaArquivo($event)" /></div>
    </ion-col>
 
    <div><h3>{{clientes.nomeCompleto}}</h3></div>
    <div><p>{{email}}</p></div>

 
<ion-list>
     <ion-item>
        <ion-icon name="cube"></ion-icon>
        <ion-label (click)="goPedidos()">Pedidos</ion-label>    
     </ion-item>
     <ion-item href="/dados-pessoais">
        <ion-icon name="person"></ion-icon>
        <ion-label>Dados Pessoais</ion-label> 
     </ion-item>
     <ion-item>
        <ion-icon name="car"></ion-icon>
        <ion-label (click)="goEndereco()">Endereços</ion-label>
     </ion-item>
     <ion-item>
        <ion-icon name="notifications"></ion-icon>
        <ion-label (click)="goNotifica()">Notificações</ion-label>   
     </ion-item>
     <ion-item>
        <ion-icon name="log-out"></ion-icon>
        <ion-label (click)="goLogout()">Sair</ion-label>   
     </ion-item>
</ion-list>
  </ion-card>
</ion-content>

<ion-item>
    <ion-tabs>  
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="goInicio()" >
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
        </ion-tab-button>
        
        <ion-tab-button (click)="goListar()" >
        <ion-icon name="shirt"></ion-icon>
        <ion-label>Produtos</ion-label>
        </ion-tab-button>
        
        <ion-tab-button (click)="goCart()" >
        <ion-icon name="cart"></ion-icon>
        <ion-label>Carrinho {{this.carrinho.items.length}}</ion-label>
        </ion-tab-button>
        
        <ion-tab-button href="#" >
        <ion-icon name="heart"></ion-icon>
        <ion-label>Favorito</ion-label>
        </ion-tab-button>
        
        <ion-tab-button (click)="goPerf()" >
        <ion-icon name="contact"></ion-icon>
        <ion-label>Perfil</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-item> 
