<ion-header>
  <ion-toolbar>
    <ion-title>Novo Cliente</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content class="ion-padding home-app" fullscreen="true">
    <div>
    <ion-list>
    <ion-item>
      <ion-input type="text" value="" [(ngModel)]="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" [(ngModel)]="senha" placeholder="Senha"></ion-input>
    </ion-item>
  </ion-list>
</div>
  <ion-button expand="fullscreen" (click)="cadastrar()">cadastrar</ion-button>
  

</ion-content>
