<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <img class="logo" src="/assets/fundologo.png" alt=""/>  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-item>
      <ion-label position="floating">Nome :</ion-label>
      <ion-input formControlName="nome" type=text></ion-input>
      </ion-item>
</form>
<ion-button expand="full" (click)="cadastrar()" color="success">Confirmar Cadastro</ion-button>

</ion-content>

 