<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <img class="logo" src="/assets/fundologo.png" alt=""/>  
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
  <ion-card>
      <p>Nome Completo: <strong>{{cliente.nomeCompleto}}</strong></p>
      <p>CPF: <strong>{{cliente.cpf}}</strong></p>
      <p>Data de Nascimento: <strong>{{cliente.dataNascimento}}</strong></p>
      <p>Telefone: <strong>{{cliente.telefone}}</strong></p>
      <p>CEP: <strong>{{cliente.cep}}</strong></p>
      <p>Endereço: <strong>{{cliente.endereco}}</strong></p>
      <p>N°: <strong>{{cliente.numero}}</strong></p>
      <p>Complemento: <strong>{{cliente.complemento}}</strong></p>
      <p>Bairro: <strong>{{cliente.bairro}}</strong></p>
      <p>Cidade: <strong>{{cliente.cidade}}</strong></p>
  </ion-card>
 </ion-list>
</ion-content>


<ion-item>
  <ion-tabs>  
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goInicio()" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goListar()" >
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Produtos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="/carrinho" >
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrinho {{this.carrinho.items.length}}</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="#" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorito</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goPerf()" >
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-item>
