
<ion-content class="ion-padding home-app" fullscreen="true">

<img src="../../assets/oma.png">
 
<div>
  <ion-item>
   <ion-input type="text" value="" [(ngModel)]="email" placeholder="Email"></ion-input>
  </ion-item>
        
  <ion-item>
   <ion-input type="password" value="" [(ngModel)]="senha" placeholder="Senha"></ion-input>
  </ion-item>   
</div>

  <ion-button icon-left size="full" expand="full" shape="round" (click)="login()" tappable color="success">Entrar</ion-button>
  <ion-button icon-left size="full" expand="full" shape="round" (click)="goNovoUsuario()" tappable>Novo Usuário</ion-button>
  <div><ion-button icon-left size="full" expand="full" shape="round" (click)="goNovaSenha()" tappable>Esqueci a Senha</ion-button></div>  
  
</ion-content>