
<ion-content class="ion-padding home-app" fullscreen="true">
  


        <div>
        <ion-item>
         
          <ion-input type="text" value="" [(ngModel)]="email" placeholder="Enter Input"></ion-input>
        </ion-item>
        <ion-item>
            
            <ion-input type="password" value="" [(ngModel)]="senha" placeholder="Enter Input"></ion-input>
          </ion-item>   
          </div>     
     


  <ion-button  (click)="login()">Entrar</ion-button>
  <ion-button  (click)="goNovoUsuario()">Novo Usuário</ion-button>
  <ion-button (click)="goNovaSenha()">Esqueci a senha</ion-button>


</ion-content>