<ion-header>
<img class="logo" src="/assets/fundologo.png" alt=""/>   
</ion-header>

<ion-content>
<ion-searchbar color="light" showCancelButton="always"></ion-searchbar>
      <ion-list>
      <ion-item *ngFor="let produto of listaProduto">
          <ion-label slot="start">
            <img src="{{produto.imagem}}">
          </ion-label>
          <ion-label>
            <h2>{{produto.nomeProduto}}</h2>
            <h3>R${{produto.preco}}</h3>
            <ion-button icon-left size="small" expand="full" shape="round" tappable (click)="goDetalhePage()">Detalhes</ion-button>
          </ion-label>
      </ion-item>
      </ion-list>   
</ion-content>
