ion-content{
    text-align: center;
}
.logo{
    text-align: center;
    font-size: 2.5rem;
    width: 7.25rem;
    height: 3.4375rem;
    }
    ion-header{
        text-align: center;
      }

      ion-list{
         size: 30%;
      }

      .botao{
          --text-align: right;
      }