<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>
      Camisas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


      <ion-list>
      <ion-item *ngFor="let camisa of listaCamisa">
          <ion-label slot="start">
            <img src="{{camisa.imagem}}">
          </ion-label>
          <ion-label>
            <h2>{{camisa.nomeCamisa}}</h2>
            <h3>R$: {{camisa.preco}}</h3>
          </ion-label>
        </ion-item>
</ion-list>
 
    
</ion-content>
