<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
      <img class="logo" src="/assets/fundologo.png" alt=""/>  
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card class="welcome-card">
<img src="{{produto.imagem}}" class="card" alt=""/>
<ion-card-header>

<div><ion-card-title>{{produto.nomeProduto}}</ion-card-title></div>
<div><ion-card-subtitle>{{produto.descricao}}</ion-card-subtitle></div>
<div><ion-card-title>R$ {{produto.preco}}</ion-card-title> </div>
</ion-card-header>
<ion-button icon-left size="small" shape="round" tappable (click)="addItem(produto)" >Adicionar ao Carrinho</ion-button>
<ion-button icon-left size="small" shape="round" tappable href="/carrinho" color="success">Finalizar Compra</ion-button>
</ion-card>  
</ion-content>

<ion-item>
  <ion-tabs>  
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goInicio()" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goListar()" >
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Produtos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="/carrinho" >
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrinho {{this.carrinho.items.length}}</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="#" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorito</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goPerf()" >
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-item> 
