<ion-header>
  <img class="logo" src="/assets/fundologo.png" alt=""/>
</ion-header>

<ion-content>
<ion-card class="welcome-card">
<img src="{{produto.imagem}}" class="card" alt=""/>
<ion-card-header>
  <ion-card-title>{{produto.nomeProduto}}</ion-card-title>
  <ion-card-subtitle>{{produto.descricao}}</ion-card-subtitle>
  <ion-card-title>R${{produto.preco}}</ion-card-title> 
</ion-card-header>
  <ion-button icon-left size="small" shape="round" tappable (click)="Atualizar()" >Adicionar ao Carrinho</ion-button>
  <ion-button icon-left size="small" shape="round" tappable (click)="Excluir()" color="success">Finalizar Compra</ion-button>
</ion-card>  
</ion-content>
