<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
        <img class="logo" src="/assets/fundologo.png" alt=""/>  
    </ion-toolbar>
  </ion-header>

<ion-content>
 <ion-searchbar color="light" cancelButtonText="Custom Cancel"></ion-searchbar>
    <ion-card size="small" class="welcome-card background">
    <img src="/assets/cardmarvel.jpeg" alt="" (click)="goListaPage()"/>
    </ion-card>

    <ion-card size="small" class="welcome-card background">
    <img src="/assets/cardmeias.jpg" alt="" (click)="goListaPage()"/>
    </ion-card>


    <ion-list>
      <h3>Mais vendidos</h3>
      <ion-item *ngFor="let produto of listaProduto">
        <ion-label slot="start">
        <img (click)="goDetalhePage(produto.id)"src="{{produto.imagem}}">
        </ion-label>

          <ion-label>
          <h2 (click)="goDetalhePage(produto.id)">{{produto.nomeProduto}}</h2>
          <h3>R${{produto.preco}}</h3>
          <ion-button icon-left size="small" expand="full" shape="round" (click)="addItem(produto)" tappable >Adicionar ao Carrinho</ion-button>
        </ion-label>
        </ion-item> 
    </ion-list>    
</ion-content>

<ion-item>
  <ion-tabs>  
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="goInicio()" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goListar()" >
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Produtos</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="/carrinho" >
      <ion-icon name="cart"></ion-icon>
      <ion-label>Carrinho {{this.carrinho.items.length}}</ion-label>
      </ion-tab-button>
      
      <ion-tab-button href="#" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favorito</ion-label>
      </ion-tab-button>
      
      <ion-tab-button (click)="goPerf()" >
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  </ion-item> 
