 <ion-header>
  <img class="logo" src="/assets/fundologo.png" alt=""/>
</ion-header>

<ion-content>
 <ion-searchbar color="light" cancelButtonText="Custom Cancel"></ion-searchbar>
    <ion-card size="small" class="welcome-card background">
    <img src="/assets/cardmarvel.jpeg" alt="" (click)="goListaPage()"/>
    </ion-card>

    <ion-card size="small" class="welcome-card background">
    <img src="/assets/cardmeias.jpg" alt="" (click)="goListaPage()"/>
    </ion-card>


    <ion-list>
      <h3>Mais vendidos</h3>
      <ion-item *ngFor="let produto of listaProduto">
        <ion-label slot="start">
        <img src="{{produto.imagem}}" href="/produto">
        </ion-label>

          <ion-label>
          <h2>{{produto.nomeProduto}}</h2>
          <h3>R${{produto.preco}}</h3>
          <ion-button icon-left size="small" expand="full" shape="round" tappable (click)="goDetalhePage(produto.id)">Detalhes</ion-button>
        </ion-label>
        </ion-item> 
    </ion-list>    
</ion-content>

<ion-item>
<ion-tabs>  
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/home" >
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button href="/produto" >
    <ion-icon name="list"></ion-icon>
    <ion-label>Lista</ion-label>
    </ion-tab-button>
    
    <ion-tab-button href="carrinho" >
    <ion-icon name="cart"></ion-icon>
    <ion-label>Carrinho</ion-label>
    </ion-tab-button>
    
    <ion-tab-button href="#" >
    <ion-icon name="heart"></ion-icon>
    <ion-label>Favorito</ion-label>
    </ion-tab-button>
    
    <ion-tab-button href="/perfil" >
    <ion-icon name="contact"></ion-icon>
    <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-item> 
